.bg{
    background-image: url(https://res.cloudinary.com/dvh5dsa7s/image/upload/v1637359440/EPS%20App/24052635599_135383080e_c_imyvmp.jpg);
    background-position: center center;
}
a{
    color: black;
}